@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
    <script src="~/Scripts/jquery-3.1.1.js"></script>
    <link href="~/Scripts/BootstrapSouce/css/bootstrap.css" rel="stylesheet" />
    <script type="text/javascript">
        $(function () {
            //加载流程配置数据
            $.ajax({
                url: 'http://localhost:8129/GetApprovalProcesses',
                type: 'get',
                success: function (data) {
                    $(data).each(function (index, data) {
                        $("select[name=ProcessID]").append(" <option value='" + data.ProcessID + "'>" + data.ProcessName + "</option>");
                    });
                }

            });

            //加载审批节点数据
            $.ajax({
                url: 'http://localhost:8129/GetApprovalNodes',
                type: 'get',
                success: function (data) {
                    $(data).each(function (index, data) {
                        $("select[name=NodeID]").append(" <option value='" + data.NodeID + "'>" + data.NodeName + "</option>");
                    });
                }

            });

            //加载审批人数据
            $.ajax({
                url: 'http://localhost:8129/GetUsers',
                type: 'get',
                success: function (data) {
                    $(data).each(function (index, data) {
                        $("select[name=ApprovalUserID]").append(" <option value='" + data.UserID + "'>" + data.UserName + "</option>");
                    });
                }

            });

            //加载下一步审批人数据
            $.ajax({
                url: 'http://localhost:8129/GetUsers',
                type: 'get',
                success: function (data) {
                    $(data).each(function (index, data) {
                        $("select[name=NextApprovalUserID]").append(" <option value='" + data.UserID + "'>" + data.UserName + "</option>");
                    });
                }

            });

            //加载审批状态数据
            $.ajax({
                url: 'http://localhost:8129/GetApprovalStates',
                type: 'get',
                success: function (data) {
                    $(data).each(function (index, data) {
                        $("select[name=StateID]").append(" <option value='" + data.StateID + "'>" + data.StateName + "</option>");
                    });
                }

            });

            //加载审批条件数据
            $.ajax({
                url: 'http://localhost:8129/GetApprovalConditions',
                type: 'get',
                success: function (data) {
                    $(data).each(function (index, data) {
                        $("select[name=ConditionID]").append(" <option value='" + data.ConditionID + "'>" + data.ConditionName + "</option>");
                    });
                }

            });

            //加载使用用户数据
            $.ajax({
                url: 'http://localhost:8129/GetUsers',
                type: 'get',
                success: function (data) {
                    $(data).each(function (index, data) {
                        $("select[name=UseUser]").append(" <option value='" + data.UserID + "'>" + data.UserName + "</option>");
                    });
                }

            });

            //新增流程配置
            $("#btnAdd").click(function () {
                $.ajax({
                    url: 'http://localhost:8129/Add',
                    type: 'post',
                    data: $("#formData").serialize(),
                    success: function (data) {
                        if (data > 0) {
                            alert("添加成功!");
                        }
                        else {
                            alert("添加失败!");
                        }
                    }
                })
            })
        })

    </script>
</head>
<body>
    <div style="margin-left:300px">
        <h3>添加流程配置页面</h3>
        <form method="post" id="formData" enctype="multipart/form-data">
            <table class="table table-bordered table-hover" style="width:700px;height:500px">
                <tr>
                    <td style="text-align:center;vertical-align:middle">审批流程</td>
                    <td style="text-align:center;vertical-align:middle">
                        <select name="ProcessID">
                            <option value="0">==请选择==</option>

                        </select>
                    </td>
                </tr>
                <tr>
                    <td style="text-align:center;vertical-align:middle">审批节点</td>
                    <td style="text-align:center;vertical-align:middle">
                        <select name="NodeID">
                            <option value="0">==请选择==</option>

                        </select>
                    </td>
                </tr>
                <tr>
                    <td style="text-align:center;vertical-align:middle">审批人</td>
                    <td style="text-align:center;vertical-align:middle">
                        <select name="ApprovalUserID">
                            <option value="0">==请选择==</option>

                        </select>
                    </td>
                </tr>
                <tr>
                    <td style="text-align:center;vertical-align:middle">下一步审批人</td>
                    <td style="text-align:center;vertical-align:middle">
                        <select name="NextApprovalUserID">
                            <option value="0">==请选择==</option>

                        </select>
                    </td>
                </tr>
                <tr>
                    <td style="text-align:center;vertical-align:middle">审批状态</td>
                    <td style="text-align:center;vertical-align:middle">
                        <select name="StateID">
                            <option value="0">==请选择==</option>

                        </select>
                    </td>
                </tr>
                <tr>
                    <td style="text-align:center;vertical-align:middle">审批条件</td>
                    <td style="text-align:center;vertical-align:middle">
                        <select name="ConditionID">
                            <option value="0">==请选择==</option>

                        </select>
                    </td>
                </tr>
                
                <tr>
                    <td style="text-align:center;vertical-align:middle">是否是开头</td>
                    <td style="text-align:center;vertical-align:middle">
                        <input type="radio" name="IsFirst" value="0" checked="checked" />是
                        <input type="radio" name="IsFirst" value="1"/>否
                    </td>
                </tr>
                <tr>
                    <td style="text-align:center;vertical-align:middle">使用用户</td>
                    <td style="text-align:center;vertical-align:middle">
                        <select name="UseUser">
                            <option value="0">==请选择==</option>

                        </select>
                    </td>
                </tr>
                <tr>
                    <td style="text-align:center;vertical-align:middle"><input type="button" id="btnAdd" value="新增" class="btn btn-info" /></td>
                    <td style="text-align:center;vertical-align:middle"><input type="button" onclick="location.href='/ApprovalConfiguration/Index'" value="显示列表" class="btn btn-danger" /></td>
                </tr>
            </table>
        </form>
    </div>
</body>
</html>
